/* Stili per la pagina */
body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  h1 {
    color: #333;
    margin: 10px;
    text-align: center;
  }

  div {
    width: 1310px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .header-footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(174, 197, 221);
    display: flex;
    justify-content: center;
  }

.header-footer p{
    margin: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer h2{

  }

  

  .container-products {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(174, 197, 221);
  }

  .product-card {
    width: 20%;
    height: 500px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    background-color: white;

  }

  .product-title {
    height: 5%;

  }
  
  .product-image {
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    height: auto;
  }

  .img-toggle.visible {
    display: block; /* Mostra l'immagine */
  }
  
  

  .product-description {
    height: 30%;

  }

  .product-price {
    font-size: 20px;
    font-weight: bold;
    height: 5%;
}

.container-link {
    color: inherit; /* Mantiene il colore di default */
    text-decoration: none; /* Rimuove la sottolineatura */
  }

  .container-review {
    height: 100px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column
    
  }

  #myInput {
    height: 100px;
    text-align: left;
    justify-content:first baseline;
  }